<div class="storyContent">
	<a href="/story/{{chapter.StoryNodeSource|e}}/show">
		<img src="{{ chapter.StoryCover|e }}">
	</a>
	<div class="infoStory">

		<a href="/story/chapter/{{ chapter.StoryNodeId|e }}/read">
			<h1>{{ chapter.StoryNodeTitle|e }}</h1>
		</a>
		
		{% if userNameConnected == userAccountName %}
			<div class="modifChapter">
				<a href="/story/chapter/{{chapter.StoryNodeId|e}}/edit">
					<button class="modif-button">Modifier</button>
				</a>
			</div>
		{% else %}
			<p class="author">Par <a href="/user/{{ chapter.StoryNodeAuthor|e }}">{{ chapter.StoryNodeAuthor|e }} </a> </p>
		{% endif %}

		<div class="text"> 
			<p> {{ chapter.StoryNodeText|e }} </p>
		</div>

		<div class="storyType">
			{% for tag in chapter.StoryTag|e %}
					<label class="type-label"> {{ tag[0] }} </label>
			{% endfor %}
		</div>

		<div class="likes">
			<i class="fa-solid fa-thumbs-up fa-xl"></i>
			<p>| {{ chapter.StoryNodeLikes|e }}</p>
		</div>
		
	</div>
</div>

