<div class="storyContent">
	<a href="/story/chapter/{{story.StoryNodeId|e}}/read">
		<img src="{{ story.StoryCover|e }}">
	</a>
	<div class="infoStory">
		<h1>{{ story.StoryNodeTitle|e }}</h1>
		{% if userNameConnected != userAccountName %}
			<p>Par {{ story.StoryNodeAuthor|e }}</p>
		{% endif %}
		{% if userNameConnected == userAccountName %}
			<a href="/story/chapter/{{story.StoryNodeId|e}}/edit">Modifier</a>
		{% endif %}
	</div>
</div>